In [13]:
import pandas as pd
import os

aqi_path = '/Users/isaacmeltsner/Desktop/CS/CS463/WeatherAQI-Predictor/AQIData'
frames = []

for file in os.listdir(aqi_path):
    if (file.endswith('.csv')):
        df = pd.read_csv(aqi_path + '/' + file)
        df = df.loc[df['county Name'] == 'San Francisco']
        df = df[['AQI', 'Date']]
        frames.append(df)
aqi_data = pd.concat(frames)
aqi_data

/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)
/var/folders/wn/6cczrfvn6xxb8cnm0nc47w4w0000gn/T/ipykernel_69980/2962860308.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(aqi_path + '/' + file)

       AQI        Date
26299   87  2007-01-01
26300   70  2007-01-02
26301   52  2007-01-03
26302   27  2007-01-04
26303   25  2007-01-05
...    ...         ...
26521   36  2021-12-27
26522   30  2021-12-28
26523   25  2021-12-29
26524   24  2021-12-30
26525   28  2021-12-31

[15339 rows x 2 columns]

In [15]:
aqi_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15339 entries, 26299 to 26525
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AQI     15339 non-null  int64
 1   Date    15339 non-null  object
dtypes: int64(1), object(1)
memory usage: 359.5+ KB

In [17]:
aqi_data.to_csv('aqi_data.csv')