In [1]:
import pandas as pd
import os

path = '/Users/isaacmeltsner/Desktop/CS/CS463/WeatherAQI-Predictor/Ozone_data'
frames = []

for file in os.listdir(path):
    if (file.endswith('.csv')):
        df = pd.read_csv(path + '/' + file)
        df = df[['Daily Max 8-hour Ozone Concentration', 'Date', 'DAILY_AQI_VALUE']]
        frames.append(df)
ozone_data = pd.concat(frames)
ozone_data

     Daily Max 8-hour Ozone Concentration        Date  DAILY_AQI_VALUE
0                                   0.010  01/01/2009                9
1                                   0.025  01/02/2009               23
2                                   0.024  01/03/2009               22
3                                   0.020  01/04/2009               19
4                                   0.010  01/05/2009                9
..                                    ...         ...              ...
355                                 0.030  12/26/2004               28
356                                 0.024  12/27/2004               22
357                                 0.006  12/28/2004                6
358                                 0.039  12/29/2004               36
359                                 0.033  12/30/2004               31

[8282 rows x 3 columns]

In [2]:
ozone_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8282 entries, 0 to 359
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Daily Max 8-hour Ozone Concentration  8282 non-null   float64
 1   Date                                  8282 non-null   object
 2   DAILY_AQI_VALUE                       8282 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 258.8+ KB

In [3]:
ozone_data.to_csv('ozone_data.csv')