In [1]:
import pandas as pd
import os

path = '/Users/isaacmeltsner/Desktop/CS/CS463/WeatherAQI-Predictor/PM2.5_data'
frames = []

for file in os.listdir(path):
    if (file.endswith('.csv')):
        df = pd.read_csv(path + '/' + file)
        df = df[['Daily Mean PM2.5 Concentration', 'Date', 'DAILY_AQI_VALUE']]
        frames.append(df)
pm_data = pd.concat(frames)
pm_data

     Daily Mean PM2.5 Concentration        Date  DAILY_AQI_VALUE
0                              22.1  01/01/2018               72
1                              26.7  01/02/2018               82
2                              39.5  01/03/2018              111
3                              15.6  01/04/2018               58
4                               5.2  01/05/2018               22
..                              ...         ...              ...
190                            12.3  12/19/2001               51
191                             4.2  12/20/2001               18
192                            10.4  12/22/2001               43
193                             9.7  12/23/2001               40
194                            17.2  12/24/2001               62

[7026 rows x 3 columns]

In [2]:
pm_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7026 entries, 0 to 194
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Daily Mean PM2.5 Concentration  7026 non-null   float64
 1   Date                            7026 non-null   object
 2   DAILY_AQI_VALUE                 7026 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 219.6+ KB

In [4]:
pm_data.to_csv('pm2.5_data.csv')